/* :root {
  --color-background: rgb(24 24 27);
  --color-grid: rgba(39, 39, 42, 0.25);
  --color-link: rgb(212 212 216);
  --color-link-text-decoration: rgb(161 161 170);
  --color-text: rgb(255 255 255);
  --color-transparent: rgba(0 0 0 0);
} */


.main {
 background-image: linear-gradient(
      to right,
      var(--color-grid) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--color-grid) 1px, transparent 1px);
  background-size: 2rem 2rem;
  background-position: 0 0;
  background-origin: border-box;
  font-size: 100%;
  line-height: 1.2;
  tab-size: 4;
   min-height: 300px;
   width: 100%;
  
}


.layout {
  display: grid;
  gap: 2rem;
  width: 100%;
  height: 100%;
  max-width: 20rem;
  margin: 0 auto;
  place-content: center;
}